extends layout

block content
	h1 #{title}
	p Welcome to #{title}
	form#message-entry(method="post", action='javascript:getHashTags()')
		div.input
			input#latestTime(type='hidden', name='latestTime', value=0)
		div.actions
			input(type="submit")
			br
		br
		div.tagInput
	button#test4.ui.right.labeled.icon.button(onclick='getCheckedHashtag()')
		i.right.arrow.icon
		|   Next
	button#test3.ui.right.labeled.icon.button(onclick='stopStream()')
		i.pause.icon
		|  Pause
	div.field
		div#messages

	.ui.top.attached.tabular.menu
		a.item(data-tab='1') First
		a.item(data-tab='2') Second
		a.item(data-tab='3') Third
	.ui.bottom.attached.tab.segment(data-tab='1')
		| First
	.ui.bottom.attached.tab.segment(data-tab='2')
		| Second
	.ui.bottom.attached.tab.segment(data-tab='3')
		| Third

	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js')
	script.

		let tweets;
		var lastSeen = 0;
		let interval;
		$(document).ready(function() {
			//$('.menu .item').tabs("refresh");
			$('.menu .item').tab();
			conversation();

		$("button#add-tab").click(function() {
			var num_tabs = $("div#tabs ul li").length + 1;

				$("div#tabs ul").append(
					"<li><a href='#tab" + num_tabs + "'>#" + num_tabs + "</a></li>"
				);
				$("div#tabs").append(
					"<div id='tab" + num_tabs + "'>#" + num_tabs + "</div>"
				);
				$("div#tabs").tabs("refresh");
			});  
		})

		$('.tabular.menu .item').tabs();

		function conversation() {
			let time = new Date();
			console.log(time);
			//lastSeen = $('#latestTime').val();
			$.get('/twitter/twitter', {lastSeen : lastSeen}, function (data) {
				//console.log(data[2].url);
				if (data != "None") {
					console.log(data)
					displayTweet(data);
				}

				
			});
			 
		}
		var xhr;
		function stopRequest() {
			xhr.abort();
		}
		function sendRequest() {
			xhr = $.post('/twitter', function (data) {
				console.log(data);
			});
		}

		function stopStream() {
			console.log("try to stop");
			alert("try to stop");
			clearInterval(interval);
			$.post('/twitter/stop', function(data) {
				alert("Stop!!");
			});
		}
		function displayTweet(data) {
			for (let i = 0; i < data.length; i ++) {
				let tweet = data[i];
				let name = tweet.Name;
				let url = tweet.url;
				let text = tweet.text;
				let time2 = tweet.timestamp;
				let time = new Date(tweet.timestamp);
				let str =		`<div class="item">`;
				str +=			`<div class="ui tiny image">`;
				str +=				`<img src="${url}" height="50" width="50">`;
				str +=			`</div>`;
				str +=			`<div class="content">`;
				str +=				`<a class="header">${name}</a>`;
				str +=					`<div class="meta">`;
				str +=						`<span>Description</span>`;
				str +=					`</div>`;
				str +=					`<div class="Text">`;
				str +=						`<p>Text: ${text}</p>`;
				str +=					`</div>`;
				str +=					`<div class="extra">`;
				str +=						`On: ${time} and ${tweet.timestamp}`;
				str +=					`</div>`;
				str +=			`</div>`;
				str +=		`</div>`;
				
				$("#messages").prepend(str);
				$('#latestTime').val(time2);
				lastSeen = time2;
				console.log(lastSeen);
			}
		}

		function displayTweet2(data) {
			for (let i = 0; i < data.length; i++) {
				let tweeet = data[i];
				let name = tweet.Name;
				let url = tweet.url;
				let text = tweet.text;
				let time = new Date(tweet.timestamp);
				let str = "";
			}
		}

		function getHashTags() {
			$.post('/twitter/hashTags', function (data) {
				displayHashTags(data);
				tweets = data;
			})
		}

		function displayHashTags(data) {
			$(".tagInput").empty();
			let str2 = `<div class="ui grid">`;
			for (let i = 0; i < data.length; i ++) {
				//let str = `<button type="button" class="btn btn-outline-primary">${data[i]}</button>`;
				//$(".tagInput").append(str);
				let str = `<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck${i+1}">
								<label class="custom-control-label" for="customCheck${i+1}">${data[i]}</label>
							</div>`;
				str2 += `<div class="four wide column">`;
				str2 += `	<div class="ui toggle checkbox">
								<input type="checkbox" id=check${i + 1}>
								<label>${data[i]}</label>
							</div>`;
				str2 += `</div>`;
				//$(".tagInput").append(str2);
			}
			str2 += `</div>`;

			$(".tagInput").append(str2);

		}
		$("#test").click(function() {
			getCheckedHashtag();
		})

		function sendPostRequest(trend) {


			$.post('/twitter/stream', {'trend': trend}, function (data) {
				console.log(data);
			})
		}

		function getCheckedHashtag() {
			interval = setInterval(conversation, 5000);
			let selected = [];
			for (let i = 0; i < tweets.length; i++) {
				if ($(`#check${i+1}`).is(":checked")) {
					selected.push(tweets[i]);
				}
			}
			let length = selected.length;
			//selected = JSON.stringify(length);
			let str = selected.join(',');
			//console.log(str);
			//for (let i = 0; i < length; i ++) {
			//sendPostRequest(selected[i]);
			//}
			sendPostRequest(str);


		}

		$(".btn").click(function() {
			$(".btn").css("background-color","yellow");
		})
